@font-face {
    font-family: 'Ventor';
    font-style: normal;
    font-weight: 400;
    src: url('/src/fonts/texgyreadventor-bold_1.ttf');
    src: url('/src/fonts/texgyreadventor-bolditalic.ttf');
    src: url('/src/fonts/texgyreadventor-italic.ttf');
    src: url('/src/fonts/texgyreadventor-regular.ttf');
}
#logo-container{
    display: inline-flex;
    
}

#logoImg{
    height: 80px;
    width: 80px;
}

p{

    font-size: 32px;
    font-weight: bold;
}