.App {
  text-align: center;
  
}
body{
  background: #F0F0F0;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: inline-flex;
  width: 100vw;
  margin-top: 30px;
  

}

.logo{
  justify-content: flex-start;
}

.menubar{
  justify-content: flex-start;
  margin: auto;
  
  margin-left: 16px;

  margin-top: 18px;
  margin-bottom: 0px;
  margin-right: 16px;

}

.box-wallet{
  display: flex; 
  flex-direction: column;
  margin: auto;
  margin-right: 0px;
}